/* Responsive */
.grid-2{
    max-width: 1222.5px;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__row-1{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* test */
.grid__column-3{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 25%;
}
.grid__column-3-sp{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 22.4%;
}
.grid__column-3-sp-1{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 83.4%;
}
.grid__column-3-test{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 33.33333333%;
    flex-basis:30.33333333% ;
}
.grid__column-9{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 75%;
    flex-basis: 23%;
}
.grid__column-12{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
}
.grid__column-5{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 30.6667%;
    flex-basis: 31%;
}
.grid__column-4-sp{
    padding-left: 12px;
    padding-right: 39px;
    padding-bottom: 10px;
    max-width: 44.444444%;
    flex-basis: 44.4444%;
}
.grid__column-6{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 50%;
    flex-basis: 47%;
}
.grid__column-7{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 14.2857142857%;
    flex-basis: 11.7%;
}
.grid__column-tt{
    padding-left: 12px;
    padding-right: 12px;
    max-width: 36%;
}

/* liên hệ*/