body{
    color: black;
    font-family: "Roboto", sans-serif;;
}

.entry-category a{
    color: #744C29;
    text-decoration: none;
    font-size: 1.3em;

}
h6{
    margin: 0;
}
.entry-block{
    margin-left: 40px;
    padding-top: 10px;
    
}
.entry-title{
    width: 100%;
    margin-top: 0;
    margin-bottom: .5em;
    text-rendering: optimizeSpeed;
    font-size: 1.7em;
    line-height: 1.3;
}
.entry-divider{
    margin-right: auto;
    margin-left: 0;
    height: 3px;
    display: block;
    background-color: rgba(0, 0, 0, .1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.entry-meta {
    line-height: 1.2;
    text-transform: uppercase;
}
.entry-meta span{
    font-size: .7em;
    letter-spacing: .05em;
}
.entry-content{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.entry-content p{
    margin-bottom: 1.3em;
    margin-top: 0;
    font-weight: 100;
}
.entry-img{
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}