.page-wrapper{
  font-weight: 100;
  margin-top: 80px;
}
.col-inner{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
  
}

.message-wrapper{
  padding-top: 5px;
  font-size: 1.1em;
  text-align: center;
  margin-top: 30px;
}
.message-container{
  color: #7a9c59;
  font-weight: 100;
}
.woocommerce-text{
  margin-bottom: 10px;
}
.woocommerce-text a{
  text-decoration: none;
  color: black;
}
.woocommerce-text a:hover{
  color: rgb(225, 248, 16);
}
.woocommerce-form-coupon{
  border: 2px dashed #db2828;
  padding: 10px;
  margin: 0 0 20px;
  display: block !important;
  background: #fff;
}
.woocommerce-form-coupon p{
  margin: 0;
  margin-bottom: 0.5em;
}
.input-text{
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 0 0.75em;
  height: 2.507em;
  font-size: .97em;
  border-radius: 0;
  width: 100%;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  text-align: left;
}
button[type="submit"] {
  background-color: #a50a06;
  color: #fff;
}
.button{
  position: relative;
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  font-size: .97em;
  letter-spacing: .03em;
  cursor: pointer;
  font-weight: bolder;
  text-align: center;
  color: currentColor;
  text-decoration: none;
  border: 1px solid transparent;
  vertical-align: middle;
  border-radius: 0;
  margin-top: 0;
  margin-right: 1em;
  text-shadow: none;
  line-height: 2.4em;
  min-height: 2.5em;
  padding: 0 1.2em;
  cursor: pointer;
}
.button:hover{
  background-color: #af0a04;;
}
.coupon-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.woocommerce-billing-filed{
  padding-top: 15px;
}
.woocommerce-billing-filed h3{
  padding-top: 15px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-rendering: optimizeSpeed;
}
.clear{

  margin-left: 10px;
}
.clear-1{
  margin-left: 10px;
}
.form-row span{
  font-weight: bold;
  display: block;
  font-size: .9em;
  margin-bottom: 0.4em;
}
.input-wrapper{
  margin-bottom: 15px;
}
.woocommerce-additional-filed h3{
  padding-top: 15px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
  text-rendering: optimizeSpeed;
}
.textarea{
  height: 120px;
  width: 100%;
}
.has-border{
  border: 2px solid #a50a06;
  padding: 15px 30px 30px;
}
.shop_table thead tr th:last-of-type{
  text-align: right;
}
.shop_table tbody tr td:last-of-type{
  text-align: right;
}
.shop_table tfoot tr td:last-of-type{
  text-align: right;
}
.woocommerce-price-amount{
  color: #db2828;
}
.woocommerce-checkout-payment{
  border-top: 1px solid #ccc;
  padding: 10px;
}
.woocommerce-checkout-payment ul{
  list-style: none;
  margin-bottom: 1.3em;
}
input[type=radio] {
  display: inline;
  margin: 3px 10px 16px 5px;
  font-size: 16px;
}
.wc_payment-menthod label{
  font-size: 16px;
  font-weight: bold;
}
.payment_box p{
  font-size: .9em;
  margin-bottom: .5em;
}
.payment_box {
  display: none;
  transition: all 0.5s ease; /* Hiệu ứng chuyển động */
}
.slideUp {
  max-height: 0;
  overflow: hidden;
}
.slideDown {
  max-height: 500px; /* Điều chỉnh chiều cao tối đa của tab */
}
.payment-method-cod-1 {
  padding-top: 7px;
  border-top: 1px solid #ececec;
}
.btn-alt{
  background-color: #ed3324;
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 15px 0;
  color: white;
  cursor: pointer;
}
.btn-alt:hover{
  background-color: #a50a06;
}
.heading_footer{
  text-transform: none;
  font-weight:100;
}
.status_order{
  padding: 5px;
  border-radius: 50px;
  background-color: orange;
  color: white;
  font-size: 13px;
}
.verify{
  margin-top: 10px;
}
.list_order li{
  margin-bottom: 10px;
}
.thanks{
  color: #7a9c59;
} 
.total{
  color: #ed3324;
}
.btn-admin{
  text-decoration: none;
    display: flex;
    border: 2px solid #a50a06;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    background-color: #af0a04;
    margin-left: 300px;
    
}
.btn-admin span{
  width: 100%;
  padding: 10px 10px 10px 20px;
}
