<div class="mid-footer">
    <div class="grid-2">
        <div class="grid__row">
            <div class="grid__column-9">
                <div class="footer-block">
                    <a href="#" class="footer-link">
                        <img src="https://theme.hstatic.net/200000833741/1001197874/14/logo-footer.png?v=2" alt=""
                            width="245" height="60">
                    </a>
                    <div class="single-contact">
                        <i class="fa-solid fa-location-dot"></i>
                        <div class="content">
                            Địa chỉ:
                            <span>150/8 Nguyễn Duy Cung, Phường 12, Tp.HCM</span>
                        </div>
                    </div>
                    <div class="single-contact">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                        <div class="content">
                            Số điện thoại:
                            <span>0845663357</span>
                        </div>
                    </div>
                    <div class="single-contact">
                        <i class="fa-solid fa-envelope"></i>
                        <div class="content">
                            Email:
                            <span>lecongtuan472004@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-9">
                <div class="footer-block">
                    <h3 class="footer-title">
                        Hỗ trợ khách hàng
                    </h3>
                    <ul class="list-menu">
                        <li class="list-item">
                            <a href="#" class="list-item-link">Tìm kiếm</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="list-item-link">Tin tức</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="list-item-link">Hướng dẫn làm bánh</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="grid__column-9">
                <div class="footer-block">
                    <h3 class="footer-title">
                        Chính sách
                    </h3>
                    <ul class="list-menu">
                        <li class="list-item">
                            <a href="#" class="list-item-link">Chính sách bán hàng</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="list-item-link">Chính sách đổi trả hàng</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="list-item-link">Chính sách giao hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid__column-9">
                <div class="footer-block">
                    <h3 class="footer-title">
                        Fanpage
                    </h3>
                    <ul class="list-menu">

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</div>